
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400;500&display=swap');


body .reg-main-content {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
}
body[data-lang="en"] .reg-main-content* { font-family: 'Sarabun', sans-serif;}
.reg-main-content * { font-family: 'Poppins', sans-serif;}

.reg-main-content span.icon-flag {
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center center;
  height: 26px;
  width: 26px;
  display: inline-block;
  margin-right: .75em;
  vertical-align: middle;
}

.reg-main-content span.icon-flag.fl-vn {
  background-image: url('../img/flag-vn.svg');
}
.reg-main-content span.icon-flag.fl-id {
  background-image: url('../img/flag-id.svg');
}
.reg-main-content option.icon-flag:before,
.reg-main-content span.icon-flag.fl-en {
  background-image: url('../img/flag-en.svg');
}
.reg-main-content span.icon-flag.fl-th {
  background-image: url('../img/flag-th.svg');
}
.reg-main-content span.icon-flag.fl-cn {
  background-image: url('../img/flag-cn.svg');
}
.reg-main-content span.icon-flag.fl-my-cn {
  background-image: url('../img/flag-my-cn.svg');
}
.reg-main-content span.icon-flag.fl-my {
  background-image: url('../img/flag-my.svg');
}
.reg-main-content option.icon-flag {
  background-image: url('../img/flag-th.svg');
}
.reg-main-content span.icon-flag.fl-kr {
  background-image: url('../img/flag-kr.svg');
}
.reg-main-content span.icon-flag.fl-jp {
  background-image: url('../img/flag-jp.svg');
}
.reg-main-content span.icon-flag.fl-in {
  background-image: url('../img/flag-in.svg');
}

/* Sign Up Modal */

.reg-main-content #message-response{
  border: 1px solid rbga(0,0,0,0);
  padding: 0.5em 1em; max-width: 470px; margin: 1em auto;
  text-align: center;
  border-radius: 3px;
}

.reg-main-content .register-submit-btn {
    background-color: #ffcd00!important;
    color: #000;
    transition: all 200ms ease-out; 
}
.reg-main-content .register-submit-btn:hover {
    background-color: #eb0023!important;
    color: #fff;
}

.reg-main-content .uk-form-controls div.uk-inline {
  width: 100%;
}

body.register .uk-alert.error {
    background: #fef4f6;
    color: #f0506e;
}
body.register .uk-alert.ok, .uk-alert.success {
    background: #edfbf6;
    color: #32d296;
}

.reg-main-content .reg-banner-mobile {
  display: none;
}

@media screen and (max-width: 800px){
  .reg-main-content .registration-form {
    margin-top: 0 !important;
  }

  .reg-main-content .reg-form-container {
    padding: 1.4em !important;
  }
} 

@media screen and (max-width: 768px){

  body.register {
    font-size: 12px;
  }

  .reg-main-content .reg-banner-desktop {
    display: none;
  }
  
  .reg-main-content .reg-banner-mobile {
    display: initial;
    margin-bottom: 1em;
  }
  .reg-main-content .reg-form-container {
    margin-bottom: 3em !important;
  }

} 


.reg-main-content #message-response.error {
  background-color: #ffcaca; color: #ff4e4e; border-color: #9b1111;
}

.reg-main-content #message-response.success{
  background-color: #d1f0d0; color: #4baf46; border-color: #14710f;
}
.reg-main-content .register-submit-btn.deact {
  border: 1px solid #e4d5b9;
  /*background-color: #e4d5b9;*/
  
  background-color: #bbb !important;
  color: #ddd !important;

  pointer-events: none;
  color: #caab72;
}

.reg-main-content .uk-form-horizontal .uk-form-controls {
    margin-left: 135px;
}

.reg-main-content .uk-form-horizontal .uk-form-label {
  min-width: 100px;
  width: auto;
}

.reg-main-content .error{transition: all 1s linear;}

.reg-main-content .registration-form a{color: #000; text-decoration: underline;}
.reg-main-content .registration-form a:hover{color: #d00; }

.reg-main-content .mob_code-b { max-width: 200px;}
.reg-main-content .currency-b { max-width: 280px;}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.reg-main-content .registration-form input{ font-weight: 100 !important; }

.reg-main-content .uk-button.submit-btn {
    background-color: #ffcd00 !important;
    color: var(--black);
    transition: all .2s ease-out; 
}
.reg-main-content .uk-button.submit-btn:hover {
    background-color: #ffa22b !important;
}

.reg-main-content label.info{color: #888; font-size: 12px;}
/*.registration-form input.error{color: #f0506e; border-color: #f0506e !important;}*/
.registration-form label.error{color: #f0506e; font-size: 12px;}
/*.registration-form label{transition: all 1s}*/

@media (max-width: 959px) {
  .reg-main-content .uk-form-horizontal .uk-form-controls {margin-left: 0;}
}

 /* CUSTOm SELECT BOX  */


.select-dropdown ul {margin-top: -1px; padding: 0px;background: #fff;margin-bottom: 0px; color: #555;}
.select-dropdown ul li img, .select-box img{width: 25px; margin-left: 5px;}
.select-dropdown ul li{list-style: none;padding: 5px;text-align: left !important;cursor: default;border: 0;}
/*.select-dropdown ul li:not(:last-child){border-bottom: 1px solid #dcd6d6;}*/
.select-dropdown ul li:hover{background-color: #F4F3F3; color: #0F1821 !important;}
.select-dropdown ul li img {margin: 5px;}
.select-dropdown ul li span, 
.select-box li span {margin-left: 5px;}
.select-box {display: flex;align-items: center;position: relative;width: 100%;height: 40px;background-color: #fff;border: 1px solid #e9e8e8;}
.select-box li {display: flex;align-items: center;list-style: none;float: left;padding-bottom: 0px;width: 95%;text-align: left;}
.select-box li {font-size: 14px;line-height: 20px;font-weight: 400;color: #0F1821;cursor: pointer;}
.select-box:hover li {margin-left: 0px;}
.select-box:hover {background-color: #F4F3F3;border: 1px solid transparent;box-shadow: inset 0 0px 0px 1px #ccc;}
.select-box:focus {outline:none;}

.select-dropdown {position: absolute; display: none;width: 100%;box-shadow: 0 6px 12px rgba(0,0,0,.175);border: 1px solid rgba(0,0,0,.15);z-index: 9999;}

.mob_code-a,.currency-a { max-height: 200px; overflow: auto;}

.select-box[disabled], .select-box[disabled] li{ background-color: #f5f5f5; cursor: not-allowed;  opacity: 0.8;}
.select-box[disabled] li{}
