# RewriteEngine on
# 
# # Set the default document to look for in directories
# DirectoryIndex index.php index.html
# 
# # Custom error document
# ErrorDocument 404 http://vilas.pro/
# 
# # Ensure requests for actual files and directories are served as-is
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# 
# # Attempt to serve .php versions of requested files if they exist
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^(.+)$ $1.php [L]
# 
# # If .php doesn't exist, attempt to serve .html versions of requested files
# RewriteCond %{REQUEST_FILENAME}.html -f
# RewriteRule ^(.+)$ $1.html [L]
# 
# # Redirect to remove trailing slash (prevents directory default index)
# RedirectMatch ^/(.*?)/$ /$1
# 
# # Redirect to remove .html extension from URLs
# RewriteCond %{THE_REQUEST} \s/(.+?)\.html[\s?] [NC]
# RewriteRule ^ /%1 [R=302,L,NE]
# 
# # Redirect to remove .php extension from URLs
# RewriteCond %{THE_REQUEST} \s/(.+?)\.php[\s?] [NC]
# RewriteRule ^ /%1 [R=302,L,NE]
# 
# # Specific redirect rules for vilas.pw domain
# RewriteCond %{HTTP_HOST} ^(www\.)?vilas\.pw$ [NC]
# RewriteRule ^/?$ http://vilas.pro [R=301,L]
# 
# <FilesMatch "\.pdf$">
#   Header set X-Robots-Tag "noindex"
# </FilesMatch>
