body {
	overflow-x: hidden;
}

/* Preloader */

@keyframes rotateLogoPreload {
  0% {
		transform:rotate(0deg);
	}
  100% {
		transform:rotate(360deg);
	}
}

.cs-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

.cs-load-status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../assets/img/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
	animation: rotateLogoPreload 4s linear infinite;
}


/* Overrides */

.uk-light .uk-navbar-nav>li>a {
	color: #fff;
}

.uk-navbar-nav>li>a {
	text-transform: none;
}

.uk-button {
	border-radius: 6px;
}

.uk-section-medium {
  padding-top: 80px;
  padding-bottom: 80px;
}

.uk-padding-medium {
	padding: 30px;
}

.cs-padding-horizontal-large {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

body,
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #5a7380;
	font-family: "Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  letter-spacing: -0.01em;
	font-size: .875rem;
}

.uk-dotnav>* {
	padding-left: 9px;
}

.uk-light .uk-dotnav>*>*{
	background-color: #fff;
}

.uk-dotnav>.uk-active>* {
	transform:scale(1.8);
	transition: all .3s linear;
}

/* Customs */

a {
	transition: all .2s ease;
}

.cs-page {
	position: relative;
}

.cs-page button,
.cs-page  .uk-button {
	
}

.cs-header {
	position: absolute;
	width: 100%;
	z-index: 980;
  left: 0;
  right: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.cs-header.uk-sticky-fixed {
	background: #fff;
	padding-top: 0;
	padding-bottom: 0;
}

nav.uk-navbar-sticky,
.uk-navbar-container:not(.uk-navbar-transparent) {
	background: #fff;
}

h2.cs-heading {
	font-size: 3rem;
	line-height: 1;
}

.cs-bg-grey,
.cs-button-hollow span.cs-bg-grey {
	background: #e6eef2;
}

.cs-bg-grad {
	background: #4ac3ca;
	background: -moz-linear-gradient(45deg, #4ac3ca 25%, #19a0d3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #4ac3ca 25%,#19a0d3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #4ac3ca 25%,#19a0d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ac3ca', endColorstr='#19a0d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.cs-text-grad {
	line-height: 1.2!important;
	background: #4ac3ca;
	background: -moz-linear-gradient(45deg, #4ac3ca 25%, #19a0d3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #4ac3ca 25%,#19a0d3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #4ac3ca 25%,#19a0d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ac3ca', endColorstr='#19a0d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cs-text-dark {
	color: #5a7380;
}

.cs-text-16 {
	font-size: 1em;
}

.cs-text-24 {
	font-size: 1.5em;
}

.cs-lh-1 {
	line-height: 1;
}

.cs-lh-12 {
	line-height: 1.2;
}

.cs-lh-13 {
	line-height: 1.3;
}

.cs-lh-14 {
	line-height: 1.4;
}

.cs-lh-16 {
	line-height: 1.6;
}

.cs-letterspacing-0 {
	letter-spacing: normal;
}

.cs-border-rad-8 {
	border-radius: 8px;
}

footer h5,
footer.uk-light h5 {
	color: #8ba2ad;
	font-weight: bold;
}

.cs-bg-dark {
	background: #425661;
}

a.cs-color-lightgrey,
.cs-color-lightgrey {
	color: #8ba2ad;
}

.cs-animate-logo {
  position: absolute;
  transform: translate(-5%,-50%);
  right: 0;
  top: 0;
}

.cs-animate-logo-2 {
  position: absolute;
  transform: translate(5%,50%);
  left: 0;
  bottom: 0;
}

.cs-animate-logo-3 {
  position: absolute;
  transform: translate(-50%,-50%)
						 scale(1.35);
  left: 0;
  top: 0;
}

@keyframes rotateLogo {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

.cs-animate-logo img,
.cs-animate-logo-3 img,
.cs-animate-logo-2 img {
	width: 500px;
	animation: rotateLogo 90s linear infinite;
}

.cs-button-hollow {
  background: #4ac3ca;
  background: linear-gradient(to right, #4ac3ca,#19a0d3);
  border-radius: 8px;
  color: #3ab7cd;
  display: inline-block;
  font-size: 1em;
  padding: 2px;
}

.cs-button-hollow:hover {
  background: #19a0d3;
  background: linear-gradient(to right, #19a0d3,#19a0d3);
  color: #19a0d3;
}

.cs-button-hollow span{
  background: #fff;
  display: block;
  border-radius: 6px;
}

.cs-fix-header .cs-button-hollow {
	padding: 0 30px;
	outline: none;
	border: none;
}
.cs-fix-header .cs-button-hollowuk-button-default:hover,
.cs-fix-header .cs-button-hollowuk-button-default:focus,
.cs-fix-header .cs-button-hollow.uk-button-default,
.cs-fix-header .cs-button-hollow:active,
.cs-fix-header .cs-button-hollow:focus,
.cs-fix-header .cs-button-hollow:hover,
.cs-text-white.cs-button-hollow:hover,
.cs-text-white {
	color: #fff;
}

.uk-modal-close-full {
  top: 10px;
  right: 10px;
	
}

.cs-desc dt{
	color: #5a7380;
	font-size: 1.125em;
  font-weight: 600;
	line-height: 1.2;
  margin-bottom: 18px;
}

.cs-desc dd{
	line-height: 1.3;
}

.cs-testimonial-item p.cs-comment{
	font-style: italic;
	font-size: 1.125em;
}

p.cs-client-details {
	line-height: 1.2;
}
	
p.cs-client-details span {
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: 800;
}

.cs-testi-comment::before,
.cs-comment::before {
	display: block;
	content: '\201C';
	font-size: 4.5em;
	font-family: Arial, serif !important;
  position: absolute;
  line-height: 1;
  transform: translateX(-20px);
  top: 0;
}

.cs-about-item h1 {
	font-weight: 100;
  font-size: 48px;
}

.uk-navbar-sticky .cs-logo,
.cs-fix-header .cs-logo {
	height: 65%;
}


.cs-testi {
	padding-bottom: 10px;
}

.cs-testi-comment::before{
	transform: translateX(-.5rem);
	height: 50px;
  margin: 0;
  width: 100%;
	position: static;
	line-height: 1.2!important;
	background: #4ac3ca;
	background: -moz-linear-gradient(45deg, #4ac3ca 25%, #19a0d3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #4ac3ca 25%,#19a0d3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #4ac3ca 25%,#19a0d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ac3ca', endColorstr='#19a0d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cs-testi-comment {
  font-style: italic;
	margin-top: -34px;
	padding-left: 30px;
	padding-right: 30px;
}

.cs-testi-pic {
  transform: translate(0%,-50%);
}

.cs-testi hr {
	border-top-color: #cfdde6;
  width: 80px;
	margin:0 auto;
}

/* Mobile Nave */

.cs-mobilenav {
	overflow-y: hidden;
}

.cs-mobilenav a {
  font-size: 1.2em;
  font-weight: 200;
  color: #333;
}

.cs-mobilenav .uk-logo svg,
.cs-mobilenav .uk-logo img {
	transform:scale(.75);
}

.cs-services a {
	color: #5a7380;
	display: block
}

.cs-services a:hover {
	text-decoration: none;
	transform: translate(0,-10px);
}

.cs-services-subpage-header {
	max-height: 320px;
}

.cs-apps-content svg,
.cs-apps-content img {
	max-width: 150px;
}

.cs-totop {
	display: none;
	position: fixed;
	width: 36px;
	height: 36px;
	background: #eee;
	bottom: 0;
	right: 0;
	margin: 1em;
}

.cs-totop a {
  margin: 7px 0 0 4px;
}

.cs-totop.cs-totop-show {
	display: block;
}

.uk-navbar-toggle {
	height: 70px;
}

/* Media Queries */

@media (max-width: 960px) {
	h2.cs-heading {
		font-size: 2rem;
	}
	
	.cs-testi-comment,
	.cs-comment {
		font-size: .75rem;
	}
	
	.cs-testi-comment::before, .cs-comment::before {
		transform: translateX(-.5rem);
	}
	
	.cs-apps-content svg,
	.cs-apps-content img {
		max-width: 100px;
	}
	
	.cs-comment::before {
		position: static;
		height: 34px;
	}
	
	.cs-padding-remove-on-m {
		padding: 0 !important;
	}
	
	.cs-margin-remove-on-m {
		margin: 0 !important;
	}
	
	
}

@media (max-width: 640px) {
	
	.cs-sevices svg,
	.cs-sevices img,
	footer svg,
	footer img {
		transform: scale(.85);
	}
	
	html {
		font-size: 14px;
	}

	h2.cs-heading {
		font-size: 2rem;
		line-height: 1;
	}
	
	
	.uk-navbar-sticky .cs-logo,
	.cs-header .uk-logo {
	height: 100%;
  transform: scale(.75)
						 translate(-1.75em,0);
	}
	
	/*
	.cs-header.uk-sticky-fixed {
		padding: 5px;
	} */
	
	.cs-about-img 
	.cs-industries img,
	.cs-industries svg {
		transform: scale(.75);
	}
	
	.cs-padding-remove-on-s {
		padding: 0 !important;
	}
	
	.cs-about-item h1 {
		font-size: 2rem;
	}
	
	
}